.panel {
}

.dado_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

.dado_2 {
  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -35px;
  margin-left: -35px;
}

.dado_3 {
  position: absolute;
  top: 50%;
  left: 75%;
  margin-top: -35px;
  margin-left: -35px;
}

@keyframes rueda {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes cubo_calavera {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(270deg) rotateZ(360deg); }
}

@keyframes cubo_escudo_blanco {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(90deg) rotateY(-360deg) rotateZ(360deg); }
}

@keyframes cubo_escudo_negro {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(270deg) rotateY(270deg) rotateZ(360deg); }
}

.cubo3d{
  animation-timing-function:ease-in-out;
  animation-iteration-count:initial;
  animation-duration:1s;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -moz-transform-origin:35px 35px 0;
  transform-origin:35px 35px 0;
  animation-fill-mode: forwards;
}

.cubo3d div{
  position:absolute;
  width:70px;
  height:70px;
  border:1px solid #ccc;
  background:rgba(255,255,255,0.8);
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
  text-align:center;
  font-size:100px;
}

.cubo3d .cara1 {
  -moz-transform:translateZ(35px);
  transform:translateZ(35px)
}
.cubo3d .cara2 {
  -moz-transform:rotateY(90deg) translateZ(35px);
  transform:rotateY(90deg) translateZ(35px);
}

.cubo3d .cara3 {
  -moz-transform:rotateY(90deg) rotateX(90deg) translateZ(35px);
  transform:rotateY(90deg) rotateX(90deg) translateZ(35px);
}

.cubo3d .cara4 {
  -moz-transform:rotateY(180deg) rotateZ(90deg) translateZ(35px);
  transform:rotateY(180deg) rotateZ(90deg) translateZ(35px);
}

.cubo3d .cara5 {
  -moz-transform:rotateY(-90deg) rotateZ(90deg) translateZ(35px);
  transform:rotateY(-90deg) rotateZ(90deg) translateZ(35px);
}

.cubo3d .cara6 {
  -moz-transform:rotateX(-90deg) translateZ(35px);
  transform:rotateX(-90deg) translateZ(35px);
}

.calavera:before {
  content: url('./iconos/calavera.png');
  -moz-transform: scale(0.6);
  margin: 0px;
  display: flex;
}

.escudo_blanco:before {
  content: url('./iconos/escudo_blanco.png');
  -moz-transform: scale(0.6);
  margin: 0px;
  display: flex;
}

.escudo_negro:before {
  content: url('./iconos/escudo_negro.png');
  -moz-transform: scale(0.6);
  margin: 0px;
  display: flex;
}
