@font-face {
  font-family:'FiraSans';
  src: url('./fonts/FiraSans-Light.ttf');
  font-weight: 100;
}

* {
  font-family: FiraSans, Open Sans, sans-serif;
}

#background {
  position:fixed;
  width:100%;
  height:100%;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
  top: 0px;
  left: 0px;
}

.panel_lateral_iz:before {
  position: fixed;
  width: 3.5rem;
  bottom: 0;
  left: 0;
  content: url('./iconos/add.svg');
  -moz-transform: scale(1.0);
  display: flex;
  z-index: 5;
}

.panel {
  position: fixed;
  width: 3.5rem;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: -70px;
  z-index: 1;
  animation-iteration-count: initial;
  animation-duration: 0.2s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.num_dados {
  margin: 5px;
  padding: 7px 8px;
  border-top: 1px solid #000;
  display: inline-block;
  width: 1.5rem;
  font-size: smaller;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: none;
  color: #000;
  text-decoration: none;
}

@keyframes animacion_panel_iz {
  0%   { left: -70px; }
  100% { left: 0px; }
}

@keyframes animacion_panel_iz_no  {
  0%   { left: 0px; }
  100% { left: -70px; }
}

.tirador {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.tirar {
  position: fixed;
  left: 50%;
  bottom: 5%;
  margin-left: -50px;
  min-width: 100px;
  min-height: 40px;
  font-size: inherit;
  border: medium none;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: none;
  color: #000;
  cursor: pointer;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.centrom {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -30px;
}

.cen_lat_dcho {
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -40px;
}

.cen_lat_dchom {
  position: absolute;
  top: 50%;
  left: 10%;
}

.cen_lat_izq {
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -40px;
}

.cen_lat_izqm {
  position: absolute;
  top: 50%;
  right: 10%;
  margin-right: 60px;
}

.cen_arriba {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -40px;
}

.cen_arribam {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -30px;
}

.cen_abajom {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
}

.mit_centrom {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -30px;
}

.mit_derm {
  position: absolute;
  top: 30%;
  left: 10%;
  margin-right: 60px;
}

.mit_izqm {
  position: absolute;
  top: 30%;
  right: 10%;
  margin-right: 60px;
}

.cen_arr_dcho {
  position: absolute;
  top: 10%;
  right: 10%;
  margin-left: -40px;
}

.cen_arr_dchom {
  position: absolute;
  top: 10%;
  right: 10%;
  margin-right: 60px;
}

.cen_arr_izq {
  position: absolute;
  top: 10%;
  left: 10%;
  margin-left: -40px;
}

.cen_arr_izqm {
  position: absolute;
  top: 10%;
  left: 10%;
}

.abajo_centrom {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -30px;
}

@keyframes uno {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes dos {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(270deg) rotateZ(360deg); }
}

@keyframes tres {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(360deg) rotateY(-90deg) rotateZ(-270deg); }
}

@keyframes cuatro {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
}

@keyframes cinco {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(270deg) rotateY(180deg) rotateZ(90deg); }
}

@keyframes seis {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(90deg) rotateY(-360deg) rotateZ(360deg); }
}

.cubo3d {
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  animation-duration: 1.5s;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 30px 30px 0;
  transform-origin: 30px 30px 0;
  animation-fill-mode: forwards;
}

.solo {
  width: 80px !important;
  height: 80px !important;
  -moz-transform-origin: 40px 40px 0 !important;
  transform-origin: 40px 40px 0 !important;
}

.cubo3d div{
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #aaa;
  background: #fff;
}

.cara1_uno {
  -moz-transform: translateZ(40px);
  transform: translateZ(40px);
}

.cara1_cuatro {
  -moz-transform: translateZ(30px);
  transform: translateZ(30px);
}

.cara2_uno {
  -moz-transform: rotateY(90deg) translateZ(40px);
  transform: rotateY(90deg) translateZ(40px);
}

.cara2_cuatro {
  -moz-transform: rotateY(90deg) translateZ(30px);
  transform: rotateY(90deg) translateZ(30px);
}

.cara3_uno {
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
}

.cara3_cuatro {
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
}

.cara4_uno {
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
}

.cara4_cuatro {
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
}

.cara5_uno {
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
}

.cara5_cuatro {
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
}

.cara6_uno {
  -moz-transform: rotateX(-90deg) translateZ(40px);
  transform: rotateX(-90deg) translateZ(40px);
}

.cara6_cuatro {
  -moz-transform: rotateX(-90deg) translateZ(30px);
  transform: rotateX(-90deg) translateZ(30px);
}

.calavera_uno:before {
  content: url('./iconos/calavera.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.calavera_cuatro:before {
  content: url('./iconos/calavera.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}

.escudo_blanco_uno:before {
  content: url('./iconos/escudo_blanco.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.escudo_blanco_cuatro:before {
  content: url('./iconos/escudo_blanco.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}

.escudo_negro_uno:before {
  content: url('./iconos/escudo_negro.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.escudo_negro_cuatro:before {
  content: url('./iconos/escudo_negro.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}
