#background {
  position:fixed;
  width:100%;
  height:100%;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
  top: 0px;
  left: 0px;
}

.panel_lateral_iz:before {
  position: fixed;
  width: 40px;
  top: 0;
  left: 0;
  content: url('./iconos/add.svg');
  transform: scale(1.0);
  moz-transform: scale(1.0);
  display: flex;
  margin-left: 7px;
}

.panel {
  position: fixed;
  width: 5%;
  height: 100%;
  text-align: center;
  background-color: #000;
  padding: 0px;
  top: 2%;
  left: -70px;
  z-index: 1;
  animation-iteration-count: initial;
  animation-duration: 0.3s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.num_dados {
  margin: 5px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px #666;
  box-shadow: 0 1px 1px #666;
  padding: 7px 8px;
  background-color: #FFF;
  border-top: 1px solid #000;
  display: inline-block;
  width: 25px;
  font-size: smaller;
}

@keyframes animacion_panel_iz {
  0%   { left: -70px; }
  100% { left: 0px; }
}

@keyframes animacion_panel_iz_no  {
  0%   { left: 0px; }
  100% { left: -70px; }
}


.tirador {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

#tirar_1, #tirar_2, #tirar_3 {
  position: fixed;
  left: 50%;
  bottom: 5%;
  margin-left: -50px;
  min-width: 100px;
  min-height: 40px;
  font-size: inherit;
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: none;
  color: #000;
}

#dado_uno {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

#segundo_dado {
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -40px;
}

#tercer_dado {
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -40px;
}

#cuarto_dado {
  position: absolute;
  top: 50%;
  left: 10%;
}

#quinto_dado {
  position: absolute;
  top: 50%;
  right: 10%;
  margin-right: 60px;
}

#sexto_dado {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -30px;
}

@keyframes cubo_calavera_1 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes cubo_calavera_3 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(360deg) rotateY(-90deg) rotateZ(-270deg); }
}

@keyframes cubo_calavera_4 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
}

@keyframes cubo_escudo_blanco_5 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(270deg) rotateY(180deg) rotateZ(90deg); }
}

@keyframes cubo_escudo_blanco_6 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(90deg) rotateY(-360deg) rotateZ(360deg); }
}

@keyframes cubo_escudo_negro_2 {
  0% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: translate3d(0px,0px,0px) translateZ(0px) rotateX(0deg) rotateY(270deg) rotateZ(360deg); }
}

.cubo3d {
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  animation-duration: 1.5s;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 30px 30px 0;
  transform-origin: 30px 30px 0;
  animation-fill-mode: forwards;
}

.solo, .dado_2, .dado_3 {
  width: 80px !important;
  height: 80px !important;
  -moz-transform-origin: 40px 40px 0 !important;
  transform-origin: 40px 40px 0 !important;
}

.cubo3d div{
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #aaa;
  background: #fff;
}

.cara1_uno, .cara1_dos, .cara1_tres {
  -moz-transform: translateZ(40px);
  transform: translateZ(40px);
}

.cara1_cuatro, .cara1_quinto, .cara1_sexto {
  -moz-transform: translateZ(30px);
  transform: translateZ(30px);
}

.cara2_uno, .cara2_dos, .cara2_tres {
  -moz-transform: rotateY(90deg) translateZ(40px);
  transform: rotateY(90deg) translateZ(40px);
}

.cara2_cuatro, .cara2_quinto, .cara2_sexto {
  -moz-transform: rotateY(90deg) translateZ(30px);
  transform: rotateY(90deg) translateZ(30px);
}

.cara3_uno, .cara3_dos, .cara3_tres {
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(40px);
}

.cara3_cuatro, .cara3_quinto, .cara3_sexto {
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(30px);
}

.cara4_uno, .cara4_dos, .cara4_tres {
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(40px);
}

.cara4_cuatro, .cara4_quinto, .cara4_sexto {
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(30px);
}

.cara5_uno, .cara5_dos, .cara5_tres {
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(40px);
}

.cara5_cuatro, .cara5_quinto, .cara5_sexto {
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(30px);
}

.cara6_uno, .cara6_dos, .cara6_tres {
  -moz-transform: rotateX(-90deg) translateZ(40px);
  transform: rotateX(-90deg) translateZ(40px);
}

.cara6_cuatro, .cara6_quinto, .cara6_sexto {
  -moz-transform: rotateX(-90deg) translateZ(30px);
  transform: rotateX(-90deg) translateZ(30px);
}

.calavera_uno:before {
  content: url('./iconos/calavera.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.calavera_cuatro:before {
  content: url('./iconos/calavera.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}

.escudo_blanco_uno:before {
  content: url('./iconos/escudo_blanco.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.escudo_blanco_cuatro:before {
  content: url('./iconos/escudo_blanco.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}

.escudo_negro_uno:before {
  content: url('./iconos/escudo_negro.png');
  -moz-transform: scale(0.9);
  margin: 5px;
  display: flex;
}

.escudo_negro_cuatro:before {
  content: url('./iconos/escudo_negro.png');
  -moz-transform: scale(0.7);
  margin: -5px;
  display: flex;
}
